[submodule "IPM_Shared_Code"]
	path = IPM_Shared_Code
	url = git@github.com:NYC-Parks/IPM_Shared_Code.git
[submodule "IPM_Shared_Code_public"]
	path = IPM_Shared_Code_public
	url = git@github.com:NYC-Parks/IPM_Shared_Code_public.git
